@import '../mixins/config.scss';
@import '../mixins/transition.scss';

.pd-tag {
  font-size: 12px;
  line-height: 20px;
  border-radius: 4px;
  padding: 0 6px;
  color: #000000e0;
  background-color: rgba(0, 0, 0, 0.04);
  border: 1px solid #d9d9d9;

  display: inline-flex;
  align-items: center;

  &.pd-tag--primary {
    background-color: #6379f61c;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);

    .pd-tag--close {
      .pd-icon {
        fill: var(--primary-color);
      }
    }
  }
  &.pd-tag--success {
    background-color: #5aa4ae1c;
    color: var(--success-color);
    border: 1px solid var(--success-color);
    .pd-tag--close {
      .pd-icon {
        fill: var(--success-color);
      }
    }
  }
  &.pd-tag--warning {
    background-color: #f29a761c;
    color: var(--warning-color);
    border: 1px solid var(--warning-color);
    .pd-tag--close {
      .pd-icon {
        fill: var(--warning-color);
      }
    }
  }
  &.pd-tag--danger {
    background-color: #b13b2e1c;
    color: var(--danger-color);
    border: 1px solid var(--danger-color);
    .pd-tag--close {
      .pd-icon {
        fill: var(--danger-color);
      }
    }
  }

  .pd-tag--close {
    cursor: pointer;
    margin-left: 4px;
  }

  &.pd-tag--double {
    padding: 0;
    display: inline-flex;
    justify-content: space-between;
    border: none;
    height: 20px;
    overflow: hidden;
    user-select: none;
    .pd-tag--inner__left,
    .pd-tag--inner__right {
      display: inline-flex;
      background-color: var(--primary-color);
      color: #fff;
      height: 20px;
    }
    .pd-tag--inner__left {
      padding: 0 5px;
    }
    .pd-tag--inner__right {
      background-color: #6379f61c;
      color: var(--primary-color);
      padding: 0 5px;
    }
    &.pd-tag--pdun {
      background-color: #000000e0;
      .pd-tag--inner__left {
        background-color: #000000e0;
        color: #fff;
        padding: 0 5px;
      }
      .pd-tag--inner__right {
        background-color: #f7961c;
        color: #000000e0;
        padding: 0 5px;
      }
    }
  }
}
